.details {
  padding: 0.5rem 1rem;
  min-width: 350px;
  max-width: 35%;
}

.details-card {
  display: flex;
  justify-content: space-between;
}

.details-title {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
}

.details-value {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}
